body {
	color: #1568b1;
	margin: 1em;  
	padding: 1em;  
}

div.msg {
	color: green;
	margin-bottom: 1em;
}

label {
	margin-right: 1em;
}

input.btsub {
	display: block;
	margin-top: 2em;
	width: 8em;
}
