<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>PDF report generation</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>

{% with msgs = get_flashed_messages() %}
	{% if msgs %}
		{% for m in msgs %}
<div class="msg">{{ m|safe }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div id="main">
	<form action="" method="post">
		<div>
			<label for="trng">Time range:</label>
			<select id="trng" name="trng">
				<option value="w">Weekly</option>
				<option value="m">Monthly</option>
			</select>
		</div>
		<div>
			<label for="tmpl">Template:</label>
			<select id="tmpl" name="tmpl">
				<option value="exec">Executives</option>
			</select>
		</div>
		<input id="btsub" class="btsub" type="submit" value="PDF export" />
	</form>
</div>

</body>
</html>
